<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Início</title>
    <link rel="stylesheet" href="agendaTelefonica.css">
</head>
<body>

    <div class="icone">
        <h1 class="icone">Agenda Telefônica</h1>
        <a href="agendaTelefonica.html" target="_blank">
        <img src="./images/icone.png" class="icone" alt="Ícone de uma agenda telefônica">
        </a>
    </div>
   
    
</body>
</html>